<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bowling Drill Customizer</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  
  <body>
        <div class="container">
            <div class="header">
                <h1>Bowling Drill Customizer</h1>
            </div>
            <div class="header-nav">
              <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Drillings</a></li>
              </ul>
            </div>
                