body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.login input {
    display: inline;
    width: 100%;
    margin: 5px 0;
}