<% include partials/header %>

<div class="customerlookup">
    <form>
        <h2>Customer Lookup</h2>
        <label for="fname">First Name
            <input type="text" placeholder="First Name">
        </label>
        <label for="fname">Last Name
            <input type="text" placeholder="Last Name">
        </label>
        <label for="fname">Email
            <input type="email" placeholder="Email">
        </label>
        <input type="submit">
    </form>
</div>

<div class="fingersize">
    <h2>Sizes for username</h2>
    <h3>Fingers: </h3>
    <h4>Left Finger</h4>
    <ul>
        <li id="lgrip">Grips</li>
        <li id="lhol">Hole Size</li>
        <li id="lpitchfr">Pitch F/R</li>
        <li id="lpitchlr">Pitch L/R</li>
        <li id="loval">Oval Size</li>
        <li id="lmach">Mach Set</li>
    </ul>

    <h4>Right Finger</h4>
    <ul>
        <li id="rgrip">Grips</li>
        <li id="rhol">Hole Size</li>
        <li id="rpitchfr">Pitch F/R</li>
        <li id="rpitchlr">Pitch L/R</li>
        <li id="roval">Oval Size</li>
        <li id="rmach">Mach Set</li>
    </ul>

    <h4>Thumb</h4>
    <ul>
        <li id="tslug">Slug</li>
        <li id="tgrip">Grips</li>
        <li id="thol">Hole Size</li>
        <li id="tpitchfr">Pitch F/R</li>
        <li id="tpitchlr">Pitch L/R</li>
        <li id="toval">Oval Size</li>
        <li id="tmach">Mach Set</li>
    </ul>
</div>