<% include partials/header %>

      <div class="fingersize">
        <form>
          <h2>Fingers:</h2>
          <h3>Left finger</h3>
          <label for="lgrip">Grips
            <input type="text">
          </label>
          <label for="lhol">Hole Size
            <input type="text">
          </label>
          <label for="lpitchfr">Pitch F/R
            <input type="text">
          </label>
          <label for="lpitchlr">Pitch L/R
            <input type="text">
          </label>
          <label for="loval">Oval Size
            <input type="text">
          </label>
          <label for="lmach">Mach Set
            <input type="text">
          </label>
        </form>

        <form>
          <h3>Right finger</h3>
          <label for="rgrip">Grips
            <input type="text">
          </label>
          <label for="rhol">Hole Size
            <input type="text">
          </label>
          <label for="rpitchfr">Pitch F/R
            <input type="text">
          </label>
          <label for="rpitchlr">Pitch L/R
            <input type="text">
          </label>
          <label for="roval">Oval Size
            <input type="text">
          </label>
          <label for="rmach">Mach Set
            <input type="text">
          </label>
        </form>
        <form>
          <h3>Thumb</h3>
          <label for="tslug">Slug
            <input type="text">
          </label>
          <label for="tgrip">Grips
            <input type="text">
          </label>
          <label for="thol">Hole Size
            <input type="text">
          </label>
          <label for="tpitchfr">Pitch F/R
            <input type="text">
          </label>
          <label for="tpitchlr">Pitch L/R
            <input type="text">
          </label>
          <label for="toval">Oval Size
            <input type="text">
          </label>
          <label for="tmach">Mach Set
            <input type="text">
          </label>
        </form>

        
      </div>

      <!-- <div class="login">
        <form method="POST" action="">
          <label for="username">Username:
            <input type="text">
          </label>
          
          <label for="password">Password:
            <input type="password">
          </label>

          <button type="submit">Submit</button>
          
        </form>
      </div> -->
    </div>
    
  </body>
</html>