body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.customerlookup input{
    width: 100%;
}

.fingersize input{
    width: 100%;
}

.header {
    text-align: center;
}

.header-nav ul {
    margin: 0 auto;
}

.header-nav li {
    margin: 5px 15px;
    list-style: none;
    display: inline;
}

.login input {
    display: inline;
    width: 100%;
    margin: 5px 0;
}