<% include ../partials/header %>

This is for the pro shop side to be able to look up a customer.
An individual user would have a different interface.
<div class="customerlookup">
    <form>
        <h2>Customer Lookup</h2>
        <label for="fname">First Name
            <input type="text" placeholder="First Name">
        </label>
        <label for="fname">Last Name
            <input type="text" placeholder="Last Name">
        </label>
        <label for="fname">Email
            <input type="email" placeholder="Email">
        </label>
        <input type="submit">
    </form>
</div>

<a href="/new">Create a New User</a>

<% users.forEach(function(user){ %>
  <div>
    <h2>Users in DB:</h2>
    <ul>
      <li><%= user["firstname"] %></li>
    </ul>
  </div>
<% }); %>

<div class="fingersize">
  <table>
    <caption>Sizes for :username:</caption>
    <thead>
      <tr>
        <th></th>
        <th>Left Finger</th>
        <th>Right Finger</th>
        <th>Thumb</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Slug</td>
        <td></td>
        <td></td>
        <td>:userslug:</td>
      </tr>
      <tr>
        <td>Grips</td>
        <td>:usergrip:</td>
        <td>:usergrip:</td>
        <td>:usergrip:</td>
      </tr>
      <tr>
        <td>Hole Size</td>
        <td>:userhs</td>
        <td>:userhs</td>
        <td>:userhs</td>
      </tr>
      <tr>
        <td>Pitch F/R</td>
        <td>:userpitchfr:</td>
        <td>:userpitchfr:</td>
        <td>:userpitchfr:</td>
      </tr>
      <tr>
        <td>Pitch L/R</td>
        <td>:userpitchlr:</td>
        <td>:userpitchlr:</td>
        <td>:userpitchlr:</td>
      </tr>
      <tr>
        <td>Oval Size</td>
        <td>:useroval:</td>
        <td>:useroval:</td>
        <td>:useroval:</td>
      </tr>
      <tr>
        <td>Mach Set</td>
        <td>:usermach</td>
        <td>:usermach</td>
        <td>:usermach</td>
      </tr>
    </tbody>
  </table>
    <!-- <h4>Left Finger</h4>
    <ul>
        <li id="lgrip">Grips</li>
        <li id="lhol">Hole Size</li>
        <li id="lpitchfr">Pitch F/R</li>
        <li id="lpitchlr">Pitch L/R</li>
        <li id="loval">Oval Size</li>
        <li id="lmach">Mach Set</li>
    </ul>

    <h4>Right Finger</h4>
    <ul>
        <li id="rgrip">Grips</li>
        <li id="rhol">Hole Size</li>
        <li id="rpitchfr">Pitch F/R</li>
        <li id="rpitchlr">Pitch L/R</li>
        <li id="roval">Oval Size</li>
        <li id="rmach">Mach Set</li>
    </ul>

    <h4>Thumb</h4>
    <ul>
        <li id="tslug">Slug</li>
        <li id="tgrip">Grips</li>
        <li id="thol">Hole Size</li>
        <li id="tpitchfr">Pitch F/R</li>
        <li id="tpitchlr">Pitch L/R</li>
        <li id="toval">Oval Size</li>
        <li id="tmach">Mach Set</li>
    </ul> -->
</div>