<% include ../partials/header %>

            <div class="customerlookup">
              <h2>Add a new customer</h2>
              <form action="/drillings" method="POST">
                  <h2>Customer Lookup</h2>
                  <label for="fname">First Name
                      <input type="text" name="firstname" placeholder="First Name" required>
                  </label>
                  <label for="fname">Last Name
                      <input type="text" name="lastname" placeholder="Last Name" required>
                  </label>
                  <label for="fname">Email
                      <input type="email" name="email" placeholder="Email" required>
                  </label>

                  <h3>Fingers:</h3>
                  <h4>Left finger</h4>
                  <label for="lgrip">Grips
                    <input name="lgrip" type="text" required>
                  </label>
                  <label for="lhol">Hole Size
                    <input name="lhol" type="text" required>
                  </label>
                  <label for="lpitchfr">Pitch F/R
                    <input name="lpitchfr" type="text" required>
                  </label>
                  <label for="lpitchlr">Pitch L/R
                    <input name="lpitchlr" type="text" required>
                  </label>
                  <label for="loval">Oval Size
                    <input name="loval" type="text" required>
                  </label>
                  <label for="lmach">Mach Set
                    <input name="lmach" type="text" required>
                  </label>
            
                  <h4>Right finger</h4>
                  <label for="rgrip">Grips
                    <input name="rgrip" type="text" required>
                  </label>
                  <label for="rhol">Hole Size
                    <input name="rhol" type="text" required>
                  </label>
                  <label for="rpitchfr">Pitch F/R
                    <input name="rpitchfr" type="text" required>
                  </label>
                  <label for="rpitchlr">Pitch L/R
                    <input name="rpitchlr" type="text" required>
                  </label>
                  <label for="roval">Oval Size
                    <input name="roval" type="text" required>
                  </label>
                  <label for="rmach">Mach Set
                    <input name="rmach" type="text" required>
                  </label>
                
                  <h4>Thumb</h4>
                  <label for="tslug">Slug
                    <input name="tslug" type="text" required>
                  </label>
                  <label for="tgrip">Grips
                    <input name="tgrip" type="text" required>
                  </label>
                  <label for="thol">Hole Size
                    <input name="thol" type="text" required>
                  </label>
                  <label for="tpitchfr">Pitch F/R
                    <input name="tpitchfr" type="text" required>
                  </label>
                  <label for="tpitchlr">Pitch L/R
                    <input name="tpitchlr" type="text" required>
                  </label>
                  <label for="toval">Oval Size
                    <input name="toval" type="text" required>
                  </label>
                  <label for="tmach">Mach Set
                    <input name="tmach" type="text" required>
                  </label>
                  <input type="submit">
              </form>
            </div>