<% include ../partials/header %>

            <div class="customerlookup">
              <h2>Add a new customer</h2>
              <form action="/drillings" method="POST">
                  <h2>Customer Lookup</h2>
                  <label for="fname">First Name
                      <input type="text" name="firstname" placeholder="First Name" required>
                  </label>
                  <label for="fname">Last Name
                      <input type="text" name="lastname" placeholder="Last Name" required>
                  </label>
                  <label for="fname">Email
                      <input type="email" name="email" placeholder="Email" required>
                  </label>
                  <input type="submit">
              </form>
            </div>